In [44]:
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
movies_df = pd.read_csv("final_df.csv")

movies_df.head()

In [46]:
movies_df.head()

,Unnamed: 0,Movie Title,Movie Title (loop),Year,Studio,Total Gross,Theaters,Opening,Open,Close,...,Metacritic,IMDB Rating,Production Studio,View Count,Video Title,Like Count,Dislike Count,Comment Count,Month,Season
0,0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,2013,LGF,424668047,"4,163",158074286,22-Nov,3-Apr,...,76,75,Lionsgate Films,12381395,The Hunger Games: Catching Fire Official Theat...,51997,1385,9492,11,Fall
1,1,Iron Man 3,Iron Man 3,2013,BV,409013994,"4,253",174144585,3-May,12-Sep,...,62,72,Walt Disney Pictures,27612921,Iron Man 3 -- Official Trailer UK Marvel | HD,78148,3795,7082,5,Spring
2,2,Frozen,Frozen,2013,BV,400738009,"3,742",243390,22-Nov,17-Jul,...,74,75,Walt Disney Pictures,34258713,Disney's Frozen Official Trailer,54146,8665,7458,11,Fall
3,3,Despicable Me 2,Despicable Me 2,2013,Uni.,368061265,"4,003",83517315,3-Jul,16-Jan,...,62,74,Universal Pictures,7725044,Despicable Me 2 Official Trailer #3 (2013) - S...,17763,1733,2146,7,Summer
4,4,Man of Steel,Man of Steel,2013,WB,291045518,"4,207",116619362,14-Jun,19-Sep,...,55,71,Warner Bros. Pictures,42666363,Man of Steel - Official Trailer 3 [HD],155232,6506,66556,6,Spring

In [47]:
 movies_df.groupby(["Studio", "Year"],).sum()["Total Gross"]

Studio   Year
BV       2013    1313156592
         2014    1056881378
         2015    1953281157
         2016    2131826605
         2017    1829050120
Fox      2014     233921534
         2015     228433663
         2016     363070709
LGF      2013     424668047
         2014     337135885
         2015     281723902
Par.     2014     245439076
Sony     2015     200074609
         2017     737853249
Uni.     2013     606741115
         2015    1341323415
         2016     638779755
         2017     264624300
WB       2013     565138223
         2014     607887064
         2016     655460248
         2017     641587703
WB (NL)  2013     258366855
         2014     255119788
         2017     327481748
Name: Total Gross, dtype: int64

In [48]:
movies_df = movies_df.groupby(["Year"]).mean()
del movies_df["Unnamed: 0"]

In [49]:
movies_df["Total Gross"] = movies_df["Total Gross"].map("${:,.2f}".format)
movies_df["Opening"] = movies_df["Opening"].map("${:,.2f}".format)
movies_df["View Count"] = movies_df["View Count"].map("{:,}".format)
movies_df["Like Count"] = movies_df["Like Count"].map("{:,}".format)
movies_df["Dislike Count"] = movies_df["Dislike Count"].map("{:,}".format)
movies_df["Comment Count"] = movies_df["Comment Count"].map("{:,}".format)

In [50]:
movies_df

,Total Gross,Opening,Runtime (Minutes),Rotten Tomatoes (%),Metacritic,IMDB Rating,View Count,Like Count,Dislike Count,Comment Count,Month
Year,,,,,,,,,,,
2013,"$316,807,083.20","$92,094,441.40",123.5,76.5,66.1,73.1,"16,446,454.2","44,387.9","2,834.2","11,441.2",7.6
2014,"$273,638,472.50","$75,215,954.40",125.3,72.1,66.0,73.6,"18,656,708.1","59,618.4","2,990.4","9,410.1",7.6
2015,"$400,483,674.60","$129,664,483.60",125.8,78.1,69.5,72.4,"40,533,532.9","254,525.9","9,044.9","33,205.2",7.5
2016,"$378,913,731.70","$121,934,124.50",116.8,74.7,64.1,72.8,"21,300,526.2","180,925.9","5,199.0","26,319.2",6.2
2017,"$380,059,712.00","$121,014,327.80",128.4,78.2,66.1,73.0,"30,846,983.4","279,069.6","17,622.7","34,245.7",8.2

In [51]:
 movies_df.groupby(["Year"]).max()["Rotten Tomatoes (%)"]

Year
2013    76.5
2014    72.1
2015    78.1
2016    74.7
2017    78.2
Name: Rotten Tomatoes (%), dtype: float64

In [52]:
 movies_df.groupby(["Year"]).min()

,Total Gross,Opening,Runtime (Minutes),Rotten Tomatoes (%),Metacritic,IMDB Rating,View Count,Like Count,Dislike Count,Comment Count,Month
Year,,,,,,,,,,,
2013,"$316,807,083.20","$92,094,441.40",123.5,76.5,66.1,73.1,"16,446,454.2","44,387.9","2,834.2","11,441.2",7.6
2014,"$273,638,472.50","$75,215,954.40",125.3,72.1,66.0,73.6,"18,656,708.1","59,618.4","2,990.4","9,410.1",7.6
2015,"$400,483,674.60","$129,664,483.60",125.8,78.1,69.5,72.4,"40,533,532.9","254,525.9","9,044.9","33,205.2",7.5
2016,"$378,913,731.70","$121,934,124.50",116.8,74.7,64.1,72.8,"21,300,526.2","180,925.9","5,199.0","26,319.2",6.2
2017,"$380,059,712.00","$121,014,327.80",128.4,78.2,66.1,73.0,"30,846,983.4","279,069.6","17,622.7","34,245.7",8.2