In [102]:
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint

In [103]:
url = "http://www.omdbapi.com/?apikey=trilogy&t="

In [104]:
movies_df = pd.read_csv("2013-2017 Box Office Data.csv")
del movies_df["Theaters.1"]
movies_df.head()

,Rank,Movie Title,Studio,Total Gross,Theaters,Opening,Open,Close,Year
0,1,The Hunger Games: Catching Fire,LGF,"$424,668,047","4,163","$158,074,286",22-Nov,3-Apr,2013
1,2,Iron Man 3,BV,"$409,013,994","4,253","$174,144,585",3-May,12-Sep,2013
2,3,Frozen,BV,"$400,738,009","3,742","$243,390",22-Nov,17-Jul,2013
3,4,Despicable Me 2,Uni.,"$368,061,265","4,003","$83,517,315",3-Jul,16-Jan,2013
4,5,Man of Steel,WB,"$291,045,518","4,207","$116,619,362",14-Jun,19-Sep,2013

In [105]:
movies_df["Rated"] = ""
movies_df["Runtime"]= ""
movies_df["Director"]=""
movies_df["Actor 1"] = ""
movies_df["Actor 2"] = ""
movies_df["Rotten Tomatoes"] = ""
movies_df["Metacritic"] = ""
movies_df["IMDB Rating"] = ""
movies_df["Production Studio"] =""
movies_df.head()

,Rank,Movie Title,Studio,Total Gross,Theaters,Opening,Open,Close,Year,Rated,Runtime,Director,Actor 1,Actor 2,Rotten Tomatoes,Metacritic,IMDB Rating,Production Studio
0,1,The Hunger Games: Catching Fire,LGF,"$424,668,047","4,163","$158,074,286",22-Nov,3-Apr,2013,,,,,,,,,
1,2,Iron Man 3,BV,"$409,013,994","4,253","$174,144,585",3-May,12-Sep,2013,,,,,,,,,
2,3,Frozen,BV,"$400,738,009","3,742","$243,390",22-Nov,17-Jul,2013,,,,,,,,,
3,4,Despicable Me 2,Uni.,"$368,061,265","4,003","$83,517,315",3-Jul,16-Jan,2013,,,,,,,,,
4,5,Man of Steel,WB,"$291,045,518","4,207","$116,619,362",14-Jun,19-Sep,2013,,,,,,,,,

In [106]:
response = requests.get(url + "Aliens")
print(response.url)

http://www.omdbapi.com/?apikey=trilogy&t=Aliens

In [107]:
data = response.json()
pprint(data)

{'Actors': 'Sigourney Weaver, Carrie Henn, Michael Biehn, Paul Reiser',
 'Awards': 'Won 2 Oscars. Another 18 wins & 22 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': '01 Jun 1999',
 'Director': 'James Cameron',
 'Genre': 'Action, Adventure, Sci-Fi',
 'Language': 'English',
 'Metascore': '86',
 'Plot': 'Ellen Ripley is rescued by a deep salvage team after being '
         'hypersleep for 57 years. The moon that the Nostromo visited has been '
         'colonized, but contact is lost. This time, colonial marines have '
         'impressive firepower, but will that be enough?',
 'Poster': 'https://ia.media-imdb.com/images/M/MV5BYzVlMWViZGEtYjEyYy00YWZmLThmZGEtYmM4MDZlN2Q5MmRmXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg',
 'Production': '20th Century Fox Film Corporat',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.4/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '98%'},
             {'Source': 'Metacritic', 'Value': '86/100'}],
 'Released': '18 Jul 1986',
 'Response': 'True',
 'Runtime': '137 min',
 'Title': 'Aliens',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'James Cameron (story by), David Giler (story by), Walter Hill '
           "(story by), Dan O'Bannon (based on characters created by), Ronald "
           'Shusett (based on characters created by), James Cameron '
           '(screenplay by)',
 'Year': '1986',
 'imdbID': 'tt0090605',
 'imdbRating': '8.4',
 'imdbVotes': '558,223'}

In [108]:
for index, row in movies_df.iterrows():
    movie = row["Movie Title"]
    base_url = "http://www.omdbapi.com/?apikey=trilogy&t="

    # make request and print url
    response = requests.get(base_url + movie).json()
    try:
        #movies_df.set_value(index, "Rated", response["Rated"])
        #movies_df.set_value(index, "Runtime", response["Runtime"])
        #movies_df.set_value(index, "Director", response["Director"])
        #movies_df.set_value(index, "Actor 1", response["Actors"])
        #movies_df.set_value(index, "Actor 2", response["Actors"])
        movies_df.set_value(index, "Rotten Tomatoes", response["Ratings"][1])
        #movies_df.set_value(index, "Metacritic", response["Ratings"]["Source"][1])
        #movies_df.set_value(index, "IMDB Rating", response["Ratings"]["Source"][2])
        #movies_df.set_value(index, "Production Studio", response["Production"])
            
        
    except (KeyError, IndexError):
        print(f" {movie} Missing field/result... skipping.")

 Cinderella (2015) Missing field/result... skipping.
 The Jungle Book (2016) Missing field/result... skipping.
 Beauty and the Beast (2017) Missing field/result... skipping.

In [109]:
data.keys()

dict_keys(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response'])

In [110]:
type(data['Actors'])

str

In [111]:
movies_df

,Rank,Movie Title,Studio,Total Gross,Theaters,Opening,Open,Close,Year,Rated,Runtime,Director,Actor 1,Actor 2,Rotten Tomatoes,Metacritic,IMDB Rating,Production Studio
0,1,The Hunger Games: Catching Fire,LGF,"$424,668,047","4,163","$158,074,286",22-Nov,3-Apr,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '89%'}",,,
1,2,Iron Man 3,BV,"$409,013,994","4,253","$174,144,585",3-May,12-Sep,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '80%'}",,,
2,3,Frozen,BV,"$400,738,009","3,742","$243,390",22-Nov,17-Jul,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '90%'}",,,
3,4,Despicable Me 2,Uni.,"$368,061,265","4,003","$83,517,315",3-Jul,16-Jan,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '74%'}",,,
4,5,Man of Steel,WB,"$291,045,518","4,207","$116,619,362",14-Jun,19-Sep,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '55%'}",,,
5,6,Gravity,WB,"$274,092,705","3,820","$55,785,112",4-Oct,8-May,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '96%'}",,,
6,7,Monsters University,BV,"$268,492,764","4,004","$82,429,469",21-Jun,19-Dec,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '79%'}",,,
7,8,The Hobbit: The Desolation of Smaug,WB (NL),"$258,366,855","3,928","$73,645,197",13-Dec,17-Apr,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '74%'}",,,
8,9,Fast & Furious 6,Uni.,"$238,679,850","3,771","$97,375,245",24-May,5-Sep,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '69%'}",,,
9,10,Oz The Great and Powerful,BV,"$234,911,825","3,912","$79,110,453",8-Mar,18-Jul,2013,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '59%'}",,,
10,1,American Sniper,WB,"$350,126,372","3,885","$633,456",25-Dec,25-Jun,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '72%'}",,,
11,2,The Hunger Games: Mockingjay - Part 1,LGF,"$337,135,885","4,151","$121,897,634",21-Nov,19-Mar,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '66%'}",,,
12,3,Guardians of the Galaxy,BV,"$333,176,600","4,088","$94,320,883",1-Aug,22-Jan,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '91%'}",,,
13,4,Captain America: The Winter Soldier,BV,"$259,766,572","3,938","$95,023,721",4-Apr,21-Aug,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '89%'}",,,
14,5,The LEGO Movie,WB,"$257,760,692","3,890","$69,050,279",7-Feb,4-Sep,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '96%'}",,,
15,6,The Hobbit: The Battle of the Five Armies,WB (NL),"$255,119,788","3,875","$54,724,334",17-Dec,2-Apr,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '59%'}",,,
16,7,Transformers: Age of Extinction,Par.,"$245,439,076","4,233","$100,038,390",27-Jun,9-Oct,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '18%'}",,,
17,8,Maleficent,BV,"$241,410,378","3,948","$69,431,298",30-May,4-Dec,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '51%'}",,,
18,9,X-Men: Days of Future Past,Fox,"$233,921,534","4,001","$90,823,660",23-May,9-Oct,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '90%'}",,,
19,10,Big Hero 6,BV,"$222,527,828","3,773","$56,215,889",7-Nov,28-May,2014,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '89%'}",,,
20,1,Star Wars: The Force Awakens,BV,"$936,662,225","4,134","$247,966,675",18-Dec,2-Jun,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '93%'}",,,
21,2,Jurassic World,Uni.,"$652,270,625","4,291","$208,806,270",12-Jun,19-Nov,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '71%'}",,,
22,3,Avengers: Age of Ultron,BV,"$459,005,868","4,276","$191,271,109",1-May,8-Oct,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '75%'}",,,
23,4,Inside Out,BV,"$356,461,711","4,158","$90,440,272",19-Jun,10-Dec,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '98%'}",,,
24,5,Furious 7,Uni.,"$353,007,020","4,022","$147,187,040",3-Apr,24-Jul,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '80%'}",,,
25,6,Minions,Uni.,"$336,045,770","4,311","$115,718,405",10-Jul,17-Dec,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '56%'}",,,
26,7,The Hunger Games: Mockingjay - Part 2,LGF,"$281,723,902","4,175","$102,665,981",20-Nov,25-Feb,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '70%'}",,,
27,8,The Martian,Fox,"$228,433,663","3,854","$54,308,575",2-Oct,17-Mar,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '91%'}",,,
28,9,Cinderella (2015),BV,"$201,151,353","3,848","$67,877,361",13-Mar,17-Sep,2015,,,,,,,,,
29,10,Spectre,Sony,"$200,074,609","3,929","$70,403,148",6-Nov,7-Apr,2015,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '63%'}",,,
30,1,Rogue One: A Star Wars Story,BV,532177324,4157,155081681,43450,43224,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '85%'}",,,
31,2,Finding Dory,BV,486295561,4305,135060273,43268,43442,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '94%'}",,,
32,3,Captain America: Civil War,BV,408084349,4226,179139142,43226,43365,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '91%'}",,,
33,4,The Secret Life of Pets,Uni.,368384330,4381,104352905,43289,43463,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '75%'}",,,
34,5,The Jungle Book (2016),BV,364001123,4144,103261464,43205,43372,2016,,,,,,,,,
35,6,Deadpool,Fox,363070709,3856,132434639,43143,43267,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '83%'}",,,
36,7,Zootopia,BV,341268248,3959,75063401,43163,43316,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '98%'}",,,
37,8,Batman v Superman: Dawn of Justice,WB,330360194,4256,166007347,43184,43267,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '27%'}",,,
38,9,Suicide Squad,WB,325100054,4255,133682248,43317,43414,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '26%'}",,,
39,10,Sing,Uni.,270395425,4029,35258145,43455,43221,2016,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '73%'}",,,
40,1,Star Wars: The Last Jedi,BV,"$620,164,565","4,232","$220,009,584",15-Dec,-,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '91%'}",,,
41,2,Beauty and the Beast (2017),BV,"$504,014,165","4,210","$174,750,616",17-Mar,13-Jul,2017,,,,,,,,,
42,3,Wonder Woman,WB,"$412,563,408","4,165","$103,251,471",2-Jun,9-Nov,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '92%'}",,,
43,4,Jumanji: Welcome to the Jungle,Sony,"$403,652,109","3,849","$36,169,328",20-Dec,-,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '76%'}",,,
44,5,Guardians of the Galaxy Vol. 2,BV,"$389,813,101","4,347","$146,510,104",5-May,21-Sep,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '83%'}",,,
45,6,Spider-Man: Homecoming,Sony,"$334,201,140","4,348","$117,027,503",7-Jul,30-Nov,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '92%'}",,,
46,7,It,WB (NL),"$327,481,748","4,148","$123,403,419",8-Sep,14-Dec,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '85%'}",,,
47,8,Thor: Ragnarok,BV,"$315,058,289","4,080","$122,744,989",3-Nov,15-Mar,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '92%'}",,,
48,9,Despicable Me 3,Uni.,"$264,624,300","4,535","$72,434,025",30-Jun,21-Dec,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '60%'}",,,
49,10,Justice League,WB,"$229,024,295","4,051","$93,842,239",17-Nov,15-Mar,2017,,,,,,"{'Source': 'Rotten Tomatoes', 'Value': '40%'}",,,